---
import Container from '@components/Container.astro'
import Link from '@components/Link.astro'
import { Image } from 'astro:assets';

import avatarImg from '@images/avatar.png'
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <Image
          src={avatarImg}
          alt="Joris's avatar"
          class="rounded-full w-6"
          loading="eager"
        />
      </Link>
      <nav class="flex gap-1">
        <Link href="/blog">
          blog
        </Link>
        <span>
          /
        </span>
        <Link href="/work">
          work
        </Link>
        <span>
          /
        </span>
        <Link href="/projects">
          projects
        </Link>
      </nav>
    </div>
  </Container>
</header>
