---
import type { CollectionEntry } from 'astro:content'
import Link from '@components/Link.astro'
import { dateRange } from '@lib/utils'

type WorkEntryWithContent = CollectionEntry<'work'> & {
  Content: any
}

type Props = {
  entry: WorkEntryWithContent
}

const { entry } = Astro.props;
---

<li class="animate">
  <div class="text-sm dark:text-gray-400 text-gray-500">
    {dateRange(entry.data.dateStart, entry.data.dateEnd)}
  </div>
  <div class="font-semibold text-black dark:text-white">
    {entry.data.companyUrl
? (
      <Link href={entry.data.companyUrl} external>
        {entry.data.company}
      </Link>
    )
: (
      <>{entry.data.company}</>
    )}
  </div>
  <div class="text-sm dark:text-gray-400 text-gray-500">
    {entry.data.role}
  </div>
  <article>
    <entry.Content />
  </article>
</li>
