---
import Footer from '@components/Footer.astro'
import Head from '@components/Head.astro'
import Header from '@components/Header.astro'
import { SITE } from '@consts'
import type { PageMetadata } from '@consts';

type Props = Pick<PageMetadata, 'title' | 'description'>

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={title === 'Home' ? SITE.name : `${title} | ${SITE.name}`} description={description} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
